/* src/assets/styles/components/_button.scss  */

.btn-primary {
  background-color: $red;
  border: none!important;
  border-radius: 0;
  outline: none!important;
  box-shadow: none!important;

  &:hover, &:focus {
    background-color: $red-light;
  }
}
