/* src/assets/styles/components/_menu.scss  */

.nav-logo {
  max-width: 317px;
  min-width: 192px;
}
.navbar {
  border: 2px solid #EBECF0;
  background-color: white;
  padding: 0;
  z-index: 999;

  .container-fluid {
    padding-left: 55px;
    padding-right: 0;
  }
}
.navbar-collapse {
  .btn-primary {
    padding: 48px 55px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;

    .icon {
      padding-left: 25px;
    }
  }
}

.navbar-nav {
  .nav-item {
    padding: 0 40px 0 40px;
    .nav-link {
      text-transform: uppercase;
      color: $neutralBlack;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      padding: 0;
      border-bottom: 4px solid transparent;

      &.active, &:hover {
        color: $neutralBlack;
        border-bottom: 4px solid $red;
      }
    }
  }
}
