/* src/assets/styles/layout/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: $fordAntenna;
  background: $darkslategray;
  color: white;
  min-height: 100vh;
}

.wrapper {
  min-height: 100vh;
  height: auto !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  &:before {
    position: fixed;
    content: ' ';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(100% 133.88% at 0% 100%, rgba(36, 37, 41, 0.6) 41.55%, rgba(36, 37, 41, 0.3) 64.29%, rgba(36, 37, 41, 0) 100%);
  }
}

section {
  position: relative;
}
