/* src/assets/styles/layout/_page.scss  */

.space {
  min-height: calc(100vh - 100px);
}

.block {
  display: flex;
  justify-content: flex-end;
}

.left {
  position: fixed;
  bottom: 100px;
  width: 50%;
  left: 0;

  h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &-col {
    padding-left: 55px;
    padding-right: 63px;
  }

  &-sticky {
    position: sticky;
    bottom: 100px;
  }

  &-span {
    background-color: $red;
    font-weight: bold;
    font-size: 24px;
    line-height: 110%;
    margin-left: -55px;
    text-transform: uppercase;
    padding: 10px 55px;
    margin-bottom: 20px;
  }

  &-icons {
    display: flex;
  }

  &-icon-block {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-icon {
    margin-bottom: 6px;
    width: 44px;
    height: 44px;
  }

  &-icon-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
  }
}

.right {
  width: 50%;
  background-color: white;
  color: $dark;

  &-head {
    display: flex;
    background-color: $grey;
    justify-content: space-between;
    padding: 0;
  }

  &-body {
    padding: 50px 55px;

    h3 {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 36px;
      line-height: 50px;
      color: $neutralBlack;
    }

    p {
      color: $neutralsGray;
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 20px;
    }
  }

  &-title {
    h2 {
      font-weight: 500;
      font-size: 36px;
      line-height: 50px;
      padding: 25px 55px;
      margin: 0;
      color: $neutralBlack;
    }
  }

  &-mouse {
    border: 2px solid white;
    padding: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    path {
      fill: $dark;
      transition: fill 0.15s ease-in-out;
    }

    &:hover {
      path {
        fill: $red;
      }
    }
  }

  &-slider {
    position: relative;
    padding: 0 95px 0 55px;

    .swiper-wrapper {
      padding: 50px 0;
    }

    .swiper-slide {
      height: 340px;
      position: relative;
      display: flex;
    }

    .slide-bg-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slider-footer {
    display: flex;
    user-select: none;

    .slider-button-next, .slider-button-prev {
      padding: 40px 38px;
      border-left: 2px solid $grey;
      border-bottom: 2px solid $grey;
      border-top: 2px solid $grey;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.15s ease-in-out;

      path {
        fill: $red;
      }

      &:hover {
        background-color: $grey;
      }
    }

    .slider-button-prev {
      svg {
        transform: rotate(180deg);
      }
    }

    .slider-pagination {
      padding: 25px;
      border: 2px solid $grey;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: $neutralsGray;

    }

    .swiper-pagination-current {
      font-size: 24px;
      line-height: 36px;
      color: $red;
      margin-right: 5px;
    }

    .swiper-button-disabled {
      cursor: not-allowed;
    }
  }

  &-slider-text {
    z-index: 1;
    padding: 30px;
    width: 100%;
    background-color: rgba($neutralBlack, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    img {
      margin-bottom: 10px;
      max-width: 60px;
    }

    h3 {
      font-weight: bold;
      font-size: 24px;
      line-height: 110%;
      color: white;
      margin-bottom: 25px;
    }

    a {
      color: white;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      opacity: 0.8;
      text-transform: uppercase;
      text-decoration: none;
      transition: opacity 0.15s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }

  &-contact-item {
    padding: 20px 55px;
    border-bottom: 1px solid $grey;

    p {
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 10px;
      color: $neutralBlack;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: $neutralBlack;
        text-decoration: none;
      }

      span {
        margin-right: 30px;
        display: inline-block;
      }
    }

    .b {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
    }
  }
}

.footer {
  width: 100%;
  padding: 26px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;

  .text {
    font-size: 16px;
    line-height: 160%;
    color: $neutralBlack;
  }

  .text-studio {
    text-align: right;
    font-size: 16px;
    line-height: 160%;
    color: $neutralBlack;
    text-decoration: none;
  }
}

.modal-lg {
  max-width: 750px;
}

.modal-body {
  padding: 30px;

  .modal-close {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 40px;
    right: 40px;
  }

  img {
    margin-bottom: 30px;
  }

  h3 {
    color: $dark;
    font-weight: bold;
    font-size: 24px;
    line-height: 110%;
    margin-bottom: 20px;
  }

  p {
    color: $neutralsGray;
    font-size: 16px;
    line-height: 160%;
  }
}

.half {
  transition: visibility 0.5s linear, opacity 0.5s linear;
  opacity: 0;
  position: absolute;
  bottom: 0;
  padding-right: 63px;
}

.full {
  transition: visibility 0.5s linear, opacity 0.5s linear;
  opacity: 1;
  visibility: visible;
  position: static;
}

.visible {
  transition: visibility 0.5s linear, opacity 0.5s linear;
  opacity: 1;
  visibility: visible;
  position: static;
  padding: 0;
}

.hidden {
  transition: visibility 0.5s linear, opacity 0.5s linear;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  padding-right: 63px;
}

@include media-breakpoint-up(md) {
  .navbar-expand-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@include media-breakpoint-down(xl) {
  .block {
    flex-direction: column;
  }

  .space {
    min-height: 50vh;
  }

  .left {
    width: 100%;
    position: relative;
  }

  .right {
    width: 100%;
  }

  .right-mouse {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  .navbar-nav .nav-item {
    padding: 0 20px;
  }

  .navbar-collapse .btn-primary {
    padding: 38px;

    span {
      display: none;
    }
  }

  .navbar-collapse .btn-primary .icon {
    padding-left: 0;
  }
}

@include media-breakpoint-down(md) {
  .left-col {
    padding-left: 15px;
    padding-right: 15px;
  }

  .left-icons {
    flex-flow: wrap;
  }

  .left-icon-text {
    font-size: 14px;
  }

  .left-icon-block {
    margin-bottom: 15px;
  }

  .left h1 {
    font-size: 36px;
  }

  .right-title h2 {
    font-size: 28px;
    padding: 25px 15px;
  }

  .right-body {
    padding: 25px 15px;

    h3 {
      font-size: 18px;
      line-height: 1;
      margin-bottom: 14px;
    }

    p {
      font-size: 13px;
      margin-bottom: 14px;
    }
  }

  .right-contact-item {
    padding: 20px 15px;

    p {
      font-size: 14px;
    }
  }

  .footer {
    flex-direction: column;
    padding: 20px 15px;

    .text {
      margin-bottom: 15px;
    }

    .text-studio {
      text-align: center;
    }
  }

  .right-slider-text h3 {
    font-size: 16px;
  }

  .right-slider {
    padding: 0 15px 0 15px;
  }

  .right .slider-footer .slider-pagination {
    padding: 20px;
    justify-content: center;
  }

  .right-slider .swiper-wrapper {
    padding: 15px 0;
  }

  .half {
    padding-right: 0;
  }

  //
  //.full {
  //  visibility: hidden;
  //  opacity: 0;
  //}
}

@include media-breakpoint-down(sm) {

  .left h1 {
    font-size: 24px;
  }

  .left-icons {
    .left-icon-block {
      width: 33.33333333%;

      &:nth-child(4) {
        width: 50%;
      }

      &:nth-child(5) {
        width: 50%;
      }
    }
  }
}

@media (min-width: 844px) and (max-width: 896px) {

  .left {
    margin-top: 50px;
  }

  .left h1 {
    font-size: 32px;
  }
}
