nav.navbar.navbar-expand-lg.navbar-light.fixed-top.nav-pc
  .container-fluid
    a.navbar-brand(href='#')
      img(src=require('images/logo.svg') class="nav-logo")
    .collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link(href='#about' data-scroll) О компании
        li.nav-item
          a.nav-link(href='#service' data-scroll) Услуги
      a.btn.btn-primary(href='#contact' data-scroll)
        span Cвязаться
        img(src=require('images/message.svg') class="icon")

nav.navbar.navbar-expand-lg.navbar-light.fixed-top.nav-mobile
  .container-fluid
    a.navbar-brand(href='#')
      img(src=require('images/logo.svg') class="nav-logo")
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span
        svg(width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg')
          rect(x='14' width='2.5' height='14' transform='rotate(90 14 0)' fill='white')
          rect(x='14' y='5' width='2.5' height='14' transform='rotate(90 14 5)' fill='white')
          rect(x='14' y='10' width='2.5' height='14' transform='rotate(90 14 10)' fill='white')

    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link(href='#about' data-scroll) О компании
        li.nav-item
          a.nav-link(href='#service' data-scroll) Услуги
        li.nav-item
          a.nav-link(href='#contact' data-scroll) Контакты
