nav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container-fluid
    a.navbar-brand(href='#')
      img(src=require('images/logo.svg') class="nav-logo")
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link(href='#') О компании
        li.nav-item
          a.nav-link.active(href='#') Услуги
      a.btn.btn-primary Cвязаться
        img(src=require('images/message.svg') class="icon")
